<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CollectionSelections</key>
	<dict/>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>binderSelection</key>
	<array>
		<integer>11</integer>
	</array>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {319, 805}}</string>
		<string>{{320, 0}, {1003, 805}}</string>
	</array>
	<key>binderState</key>
	<array>
		<string>7C6F4197-9767-482D-BA97-AD1BD24F0CCB</string>
		<string>116451F0-7880-4384-96E1-18E3E0B54091</string>
		<string>BB7DDC04-A8DF-435E-9D9B-C34EC4A1C8B1</string>
	</array>
	<key>collectionSelectionAutosaveName</key>
	<array/>
	<key>collectionsHeight</key>
	<real>101</real>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>collectionsTabListIsCollapsed</key>
	<true/>
	<key>editorSplitType</key>
	<integer>0</integer>
	<key>inspectorIsCollapsed</key>
	<true/>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {288, 795}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>227</real>
	<key>mainDocumentEditor.binderDocuments</key>
	<array>
		<string>6DE2B8AF-FA8B-40BD-B1F7-A2087942D130</string>
	</array>
	<key>mainDocumentEditor.currentEditorViewMode</key>
	<integer>0</integer>
	<key>mainDocumentEditor.editorGroupsViewMode</key>
	<integer>2</integer>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {595, 719}}</string>
	<key>mainDocumentEditor.selectedRanges</key>
	<string>{433, 0}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>hasMultiplePages</key>
		<true/>
		<key>textScale</key>
		<integer>150</integer>
		<key>usesFacingPages</key>
		<false/>
	</dict>
	<key>mainWindowFrame</key>
	<string>49 -37 1323 827 0 0 1440 877 </string>
	<key>projectStatsSheet</key>
	<dict>
		<key>countDraftFootnotes</key>
		<integer>1</integer>
		<key>currentCompileGroupOnly</key>
		<integer>0</integer>
		<key>excludeAnnots</key>
		<integer>0</integer>
		<key>excludeFN</key>
		<integer>0</integer>
		<key>includeSubdocs</key>
		<integer>1</integer>
		<key>options</key>
		<integer>0</integer>
		<key>paperbackCountUsesChars</key>
		<integer>0</integer>
		<key>useFastStats</key>
		<integer>1</integer>
		<key>wordsOrCharsPerPaperbackPage</key>
		<integer>350</integer>
	</dict>
	<key>searchResultsTable</key>
	<dict>
		<key>order</key>
		<array>
			<string>TITLE</string>
		</array>
		<key>widths</key>
		<dict>
			<key>TITLE</key>
			<real>317</real>
		</dict>
	</dict>
	<key>selectedCollectionTabIndex</key>
	<integer>0</integer>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {620, 294}}</string>
	<key>supportingDocumentEditor.selectedItemIDs</key>
	<array/>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
